# .NET Core
bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
.vscode/
*.dbmdl
*.pdb
*.cache
*.log
*.ide
*.sln.ide
*.pidb
*.svclog
*.psess
*.vspx
*.vsp
*.dll
*.exe
*.app
*.lib
*.nupkg
*.snk
*.psess
*.testsettings
*.vspscc
*.vssscc
*.publish/
TestResults/
*.coverage
*.coveragexml
*.orig
*.tmp
*.bak
*.swp
*.swo
*.sln
*.csproj.user
*.db
*.mdf
*.ldf
*.sqlite
*.sql
*.tar.gz
*.zip
*.7z
*.rar
*.tgz
*.gz
*.tar
*.xproj
*.lock.json
project.lock.json
project.fragment.lock.json
artifacts/
.nuget/
packages/
*.ncrunch*
*.ndoc*
_ReSharper*/
*.DotSettings.user
.idea/
*.tss
*.sass-cache
*.scss-cache
*.css.map
*.js.map
*.tsbuildinfo
node_modules/
bower_components/
wwwroot/
.env
.env.*
.DS_Store
Thumbs.db
appsettings.json
internal.txt
