<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="Debug"
        internalLogFile="internal.txt">
    <extensions>
        <add assembly="Logtail" />
        <add assembly="NLog.Targets.GraylogHttp"/>
    </extensions>

    <targets>
        <target name="graylog" xsi:type="GraylogHttp"
            graylogServer="http://192.168.2.15"
            graylogPort="12201"
            facility="Backups">
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="graylog" />
        <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
</nlog>
